@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.fulfil-your-study {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 136%;
  display: inline-block;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 1062px;
}
.consult-our-study {
  position: relative;
  line-height: 30.5px;
}
.consult-our-study-visa-experts-wrapper {
  position: absolute;
  top: 54px;
  left: 319px;
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  text-align: left;
  font-size: var(--text-1-regular-size);
}
.frame,
.fulfil-your-study-abroad-dream-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1062px;
  height: 129px;
}
.frame {
  top: 1645px;
  left: 181px;
  width: 1034px;
  overflow: hidden;
  opacity: 0;
  font-size: var(--font-size-11xl);
}
.consult-our-study-visa-experts-frame.animate,
.frame-inner.animate,
.frame.animate,
.frame11.animate,
.frame12.animate,
.frame4.animate,
.frame6.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-yellowgreen);
  width: 1440px;
  height: 1019px;
  opacity: 0.11;
}
.unlock-education-excellence {
  margin: 0;
}
.unlock-education-excellence-container {
  position: absolute;
  top: 0;
  left: calc(50% - 401px);
  line-height: 119%;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame2 {
  position: absolute;
  top: 6px;
  left: 259px;
  width: 862px;
  height: 130px;
  overflow: hidden;
}
.explore-the-enchanting {
  position: absolute;
  top: 0;
  left: calc(50% - 708.5px);
  line-height: 30.5px;
  display: inline-block;
  width: 1434px;
}
.frame3 {
  position: absolute;
  top: 176px;
  left: 60px;
  width: 1285px;
  height: 31px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.consult-our-study-visa-experts-container {
  position: absolute;
  top: 0;
  left: 158px;
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 416px;
  height: 66px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
}
.frame4 {
  position: absolute;
  top: 914px;
  left: 383px;
  width: 732px;
  height: 66px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--text-1-regular-size);
}
.frame-item {
  position: absolute;
  top: 0;
  left: calc(50% - 433px);
  border-radius: var(--br-3xs);
  width: 1057px;
  height: 504px;
  object-fit: cover;
}
.frame-icon,
.frame5 {
  position: absolute;
  top: 266px;
  left: 0;
  width: 1248px;
  height: 504px;
  overflow: hidden;
}
.frame-icon {
  top: 456px;
  width: 771px;
  height: 103px;
}
.frame-inner,
.frame6 {
  position: absolute;
  height: 76px;
  opacity: 0;
}
.frame-inner {
  border: 0;
  outline: 0;
  background-color: transparent;
  top: 0;
  left: 287px;
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 865px;
}
.frame6 {
  top: 731px;
  left: 0;
  width: 1152px;
  overflow: hidden;
}
.core-immigration-glide-container {
  position: absolute;
  top: 744px;
  left: calc(50% - 372.5px);
  font-size: var(--title-1-strong-size);
  line-height: 30.5px;
  display: inline-block;
  width: 768px;
  height: 77px;
}
.get-admission-in {
  position: absolute;
  top: 0;
  left: 189px;
  line-height: 136%;
  display: inline-block;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 1062px;
}
.frame7 {
  position: absolute;
  top: 847px;
  left: 0;
  width: 1251px;
  height: 41px;
  overflow: hidden;
  font-size: var(--font-size-11xl);
}
.frame1,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1451px;
  height: 1019px;
}
.frame1 {
  top: 1878px;
  left: 9px;
  width: 1425px;
  overflow: hidden;
}
.our-6-step-immigration-container {
  position: absolute;
  top: 0;
  left: calc(50% - 633.5px);
  line-height: 119%;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame8 {
  position: absolute;
  top: 4063px;
  left: 181px;
  width: 1267px;
  height: 130px;
  overflow: hidden;
}
.start-your-immigration {
  position: relative;
  line-height: 136%;
  display: inline-block;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 1062px;
}
.consult-our-study-visa-experts-frame {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 416px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  opacity: 0;
  text-align: left;
  font-size: var(--text-1-regular-size);
}
.start-your-immigration-journey-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.frame9 {
  position: absolute;
  top: 7728px;
  left: 133px;
  width: 1315px;
  height: 126px;
  overflow: hidden;
  font-size: var(--font-size-11xl);
}
.meet-team-core {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 119%;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame10 {
  position: absolute;
  top: 7960px;
  left: 249px;
  width: 1199px;
  height: 65px;
  overflow: hidden;
}
.team-core-vs {
  position: absolute;
  top: 0;
  left: calc(50% - 158.95px);
  line-height: 119%;
  display: inline-block;
  width: 611px;
  height: 53px;
}
.frame13 {
  top: 67px;
  left: 63.9px;
  width: 904.1px;
}
.frame-div,
.frame13,
.frame14 {
  position: absolute;
  height: 53px;
  overflow: hidden;
}
.frame-div {
  top: 0;
  left: 435.1px;
  border-radius: var(--br-58xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 336px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
}
.frame14 {
  top: 818px;
  left: 63.9px;
  width: 771.1px;
  text-align: left;
  font-size: var(--text-1-regular-size);
  color: var(--text-txt-primary);
}
.experience-the-team {
  position: absolute;
  top: 0;
  left: 160.1px;
  line-height: 136%;
  display: inline-block;
  width: 859px;
  height: 33px;
}
.frame15 {
  position: absolute;
  top: 769px;
  left: 63.9px;
  width: 1019.1px;
  height: 33px;
  overflow: hidden;
  font-size: var(--font-size-11xl);
}
.licensed-authorized,
.other-agents {
  position: absolute;
  top: 71px;
  left: calc(50% - 592.45px);
  line-height: 30.5px;
  display: inline-block;
  width: 279px;
  height: 25px;
}
.other-agents {
  top: 23px;
  left: calc(50% + 424.55px);
  width: 167px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 717.1px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 204px;
  height: 534px;
}
.frame-child1,
.line-icon {
  position: absolute;
  left: 981.1px;
  width: 204px;
  opacity: 0.59;
}
.frame-child1 {
  top: 0;
  border-radius: var(--br-sm);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 534px;
}
.line-icon {
  top: 117px;
  height: 2.5px;
  object-fit: contain;
}
.tailored-expertise {
  position: absolute;
  top: 136px;
  left: calc(50% - 592.45px);
  line-height: 30.5px;
  display: inline-block;
  width: 221px;
  height: 25px;
}
.frame-child3 {
  position: absolute;
  top: 179px;
  left: 981.1px;
  width: 204px;
  height: 2px;
  object-fit: contain;
  opacity: 0.59;
}
.transparent-journey {
  position: absolute;
  top: 209px;
  left: calc(50% - 592.45px);
  line-height: 30.5px;
  display: inline-block;
  width: 264px;
  height: 25px;
}
.frame-child4 {
  position: absolute;
  top: 250px;
  left: 981.1px;
  width: 203.6px;
  height: 2.5px;
  object-fit: contain;
  opacity: 0.59;
}
.global-network {
  position: absolute;
  top: 281px;
  left: calc(50% - 592.45px);
  line-height: 30.5px;
  display: inline-block;
  width: 192px;
  height: 25px;
}
.frame-child5 {
  position: absolute;
  top: 324.5px;
  left: 981.1px;
  width: 203.6px;
  height: 0.5px;
  object-fit: contain;
  opacity: 0.59;
}
.proven-success-stories {
  position: absolute;
  top: 353px;
  left: calc(50% - 592.45px);
  line-height: 30.5px;
  display: inline-block;
  width: 289px;
  height: 25px;
}
.frame-child6 {
  position: absolute;
  top: 396.4px;
  left: 981.1px;
  width: 203.6px;
  height: 0.6px;
  object-fit: contain;
  opacity: 0.59;
}
.student-centric-approach {
  position: absolute;
  top: 425px;
  left: calc(50% - 592.45px);
  line-height: 30.5px;
  display: inline-block;
  width: 337px;
  height: 25px;
}
.frame-child7 {
  position: absolute;
  top: 467.2px;
  left: 981.1px;
  width: 203.6px;
  height: 1.5px;
  object-fit: contain;
  opacity: 0.59;
}
.img-8561-1-icon {
  position: absolute;
  top: 23px;
  left: 728.1px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  width: 182px;
  height: 69px;
  object-fit: cover;
}
.mask-group-icon,
.mask-group-icon1,
.mask-group-icon2,
.mask-group-icon3,
.mask-group-icon4 {
  position: absolute;
  top: 129.4px;
  left: 792.5px;
  width: 40.4px;
  height: 40.4px;
  object-fit: cover;
}
.mask-group-icon1,
.mask-group-icon2,
.mask-group-icon3,
.mask-group-icon4 {
  top: 194.1px;
}
.mask-group-icon2,
.mask-group-icon3,
.mask-group-icon4 {
  top: 266.9px;
}
.mask-group-icon3,
.mask-group-icon4 {
  top: 341.3px;
}
.mask-group-icon4 {
  top: 409.2px;
}
.mask-group-icon5,
.mask-group-icon6,
.mask-group-icon7,
.mask-group-icon8,
.mask-group-icon9 {
  position: absolute;
  top: 129.4px;
  left: 1060.2px;
  width: 40.4px;
  height: 40.4px;
  object-fit: cover;
}
.mask-group-icon6,
.mask-group-icon7,
.mask-group-icon8,
.mask-group-icon9 {
  top: 194.1px;
}
.mask-group-icon7,
.mask-group-icon8,
.mask-group-icon9 {
  top: 266.9px;
}
.mask-group-icon8,
.mask-group-icon9 {
  top: 341.3px;
}
.mask-group-icon9 {
  top: 409.2px;
}
.frame11,
.frame12,
.frame16 {
  position: absolute;
  overflow: hidden;
}
.frame16 {
  top: 186px;
  left: 63.9px;
  width: 1185.1px;
  height: 534px;
  text-align: left;
  font-size: var(--font-size-12xl);
}
.frame11,
.frame12 {
  width: 1304px;
  height: 947px;
  opacity: 0;
}
.frame12 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
}
.frame11 {
  top: 3006px;
  left: 59px;
}
.rectangle-icon {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-xl);
  width: 511px;
  height: 435px;
  object-fit: cover;
}
.ellipse-div {
  position: absolute;
  top: 489px;
  left: 614px;
  border-radius: 50%;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  width: 38px;
  height: 38px;
}
.consultation,
.personalized-discussions-to {
  position: relative;
  line-height: 30.5px;
  display: inline-block;
  width: 361px;
}
.personalized-discussions-to {
  font-size: var(--font-size-5xl);
  line-height: 33.5px;
  color: var(--text-txt-primary);
  width: 507px;
}
.book-a-free-consultation-now-wrapper {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 416px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--text-1-regular-size);
  color: var(--color-white);
}
.consultation-parent,
.document-review-parent {
  position: absolute;
  top: 78px;
  left: 753px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.document-review-parent {
  top: 629px;
  left: 4px;
}
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 499px;
  left: 749px;
  border-radius: var(--br-xl);
  width: 511px;
  height: 435px;
  object-fit: cover;
}
.frame-child9 {
  top: 1063px;
  left: 0;
  height: 431px;
}
.university-shortlisting {
  position: relative;
  line-height: 30.5px;
  display: inline-block;
  width: 586px;
}
.university-shortlisting-parent {
  position: absolute;
  top: 1157px;
  left: 749px;
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.application-submission {
  position: relative;
  line-height: 67.5px;
  display: inline-block;
  width: 549px;
}
.application-submission-parent {
  position: absolute;
  top: 1665px;
  left: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-child10,
.frame-child11 {
  position: absolute;
  top: 1632px;
  left: 749px;
  border-radius: var(--br-xl);
  width: 511px;
  height: 431px;
  object-fit: cover;
}
.frame-child11 {
  top: 2237px;
  left: 4px;
}
.financial-guidance-parent {
  position: absolute;
  top: 2363px;
  left: 749px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame-child12 {
  position: absolute;
  top: 2831px;
  left: 749px;
  border-radius: var(--br-xl);
  width: 511px;
  height: 431px;
  object-fit: cover;
}
.visa-application-support-parent {
  position: absolute;
  top: 2873px;
  left: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.frame17,
.frame18,
.group-icon {
  position: absolute;
  top: 0;
  left: 632px;
  width: 0;
  height: 3262px;
}
.frame17,
.frame18 {
  left: 0;
  width: 1335px;
  overflow: hidden;
}
.frame17 {
  top: 4303px;
  left: 59px;
  width: 1389px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-100);
}
.mask-group-icon10 {
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 13px;
  width: 49px;
  height: 49px;
  object-fit: cover;
  z-index: 0;
}
.mask-group-wrapper {
  border-radius: var(--br-4xs);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.access-affordability-with,
.exclusive-scholarships {
  position: relative;
  line-height: 30.5px;
  display: inline-block;
  width: 334px;
}
.access-affordability-with {
  font-size: var(--font-size-lg);
  line-height: 20.5px;
  color: var(--text-txt-primary);
  width: 220px;
}
.exclusive-scholarships-parent,
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-container {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.transparent-communication {
  position: relative;
  line-height: 30.5px;
  display: inline-block;
  width: 395px;
}
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.frame-parent2,
.streamlined-applications-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent2 {
  flex-direction: row;
  gap: var(--gap-lgi);
}
.trust-our-expertise {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 20.5px;
  display: inline-block;
  color: var(--text-txt-primary);
  width: 262px;
}
.frame-group,
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.frame-group {
  position: absolute;
  top: 0;
  left: 914px;
  flex-direction: column;
  gap: var(--gap-19xl);
}
.image-5-icon {
  position: absolute;
  top: 0;
  left: 386px;
  width: 510px;
  height: 414px;
  object-fit: cover;
}
.frame-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  color: var(--color-gray-100);
}
.frame-parent4,
.frame19 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-20xl);
}
.frame19 {
  width: 896px;
  height: 422px;
  overflow: hidden;
}
.frame-parent {
  position: absolute;
  top: 1140px;
  left: 38px;
  width: 1377px;
  height: 429px;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.frame-parent.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.frame-child13 {
  position: relative;
  width: 381px;
  height: 391px;
  object-fit: cover;
}
.mrshamsher-singh {
  position: relative;
  line-height: 30.5px;
  font-weight: 600;
}
.group-parent,
.mrshamsher-singh-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-smi);
}
.group-parent {
  justify-content: flex-start;
  gap: var(--gap-15xl);
  opacity: 0;
}
.group-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-left;
}
.mask-group-icon18 {
  position: relative;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.lorem-ipsum-dolor {
  position: relative;
  line-height: 33.5px;
  display: inline-block;
  width: 486px;
  flex-shrink: 0;
}
.mask-group-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor1,
.lorem-ipsum-dolor2 {
  position: relative;
  line-height: 33.5px;
  display: inline-block;
  width: 492px;
  flex-shrink: 0;
}
.lorem-ipsum-dolor2 {
  width: 906px;
}
.mask-group-parent1 {
  width: 550px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor3 {
  position: relative;
  line-height: 33.5px;
  display: inline-block;
  width: 494px;
  flex-shrink: 0;
}
.frame-parent11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.apply-with-the-best-wrapper {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 301px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--text-1-regular-size);
  color: var(--color-white);
}
.frame-parent10,
.frame-parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent10 {
  flex-direction: column;
  gap: var(--gap-16xl);
  font-size: var(--font-size-5xl);
}
.frame-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1341px;
  flex-direction: row;
  gap: var(--gap-151xl);
}
.fulfil-your-study-abroad-dream-wrapper {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 382px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--text-1-regular-size);
  color: var(--color-white);
}
.frame-parent12,
.frame-parent14,
.frame-parent16 {
  position: absolute;
  top: 732px;
  left: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  font-size: var(--font-size-5xl);
}
.frame-parent14,
.frame-parent16 {
  top: 1390px;
  left: 717px;
}
.frame-parent16 {
  top: 2076px;
  left: 105px;
}
.frame-child14 {
  position: relative;
  width: 381px;
  height: 317.2px;
  object-fit: cover;
}
.canada-admission-expert {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 30.5px;
  font-weight: 600;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.group-container,
.group-parent1 {
  position: absolute;
  top: 663px;
  left: 839px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  opacity: 0;
}
.group-container.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-right;
}
.group-parent1 {
  top: 1343px;
  left: 88px;
}
.group-parent1.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-left;
}
.frame-child16 {
  position: relative;
  width: 430px;
  height: 363.6px;
  object-fit: cover;
}
.group-parent2 {
  position: absolute;
  top: 1998px;
  left: 822px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  opacity: 0;
}
.group-parent2.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-right;
}
.consult-team-core {
  position: relative;
  line-height: 136%;
  font-weight: 500;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.book-a-free-consultation-now-container {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 416px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--text-1-regular-size);
}
.consult-team-core-immigration-parent {
  position: absolute;
  top: 2601px;
  left: 279px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lgi);
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.group-div {
  position: absolute;
  top: 8188px;
  left: 63px;
  width: 1341px;
  height: 2727px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--text-txt-primary);
}
.desktop-1-child {
  position: absolute;
  top: 11021px;
  left: calc(50% - 720px);
  background-color: var(--color-yellowgreen);
  width: 1440px;
  height: 728px;
  opacity: 0.11;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 474px;
  height: 239px;
}
.lorem-ipsum-dolor20 {
  top: 65px;
  line-height: 26.5px;
  display: inline-block;
  width: 391px;
  height: 105px;
}
.jhon-dee,
.lorem-ipsum-dolor20,
.review-icon {
  position: absolute;
  left: 42px;
}
.jhon-dee {
  top: 185.1px;
  font-size: var(--font-size-8xl);
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.review-icon {
  top: 18px;
  width: 180.6px;
  height: 27px;
}
.bg-parent {
  position: relative;
  width: 474px;
  height: 239px;
  flex-shrink: 0;
}
.frame-parent18 {
  position: absolute;
  top: 11229px;
  left: 27px;
  width: 1608px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--text-txt-primary);
}
.apply-now-with-us-wrapper,
.client-testimonial {
  background: linear-gradient(89.65deg, #00af08, #a2db00);
}
.client-testimonial {
  position: absolute;
  top: 11069px;
  left: 455px;
  line-height: 119%;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 515px;
  height: 48px;
}
.apply-now-with-us-wrapper {
  border-radius: var(--br-58xl);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 297px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--text-1-regular-size);
}
.be-the-part-of-our-success-gal-parent {
  position: absolute;
  top: 11567px;
  left: calc(50% - 335px);
  height: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-11xl);
}
.group-child,
.img-8561-1-icon1 {
  position: absolute;
  object-fit: cover;
}
.group-child {
  top: 98px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 754px;
}
.img-8561-1-icon1 {
  top: 0;
  left: 51px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  width: 323px;
  height: 121px;
}
.start-your-nz-journey-now-wrapper {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
}
.frame-wrapper {
  position: absolute;
  top: 0;
  left: 965px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.mask-group-icon38 {
  position: absolute;
  top: 309px;
  left: calc(50% - 492px);
  width: 1192.3px;
  height: 505.5px;
  object-fit: contain;
}
.embark-on-your {
  position: absolute;
  top: 224px;
  left: 51px;
  font-size: var(--font-size-28xl);
  line-height: 136%;
  display: inline-block;
  width: 724px;
  opacity: 0;
}
.embark-on-your.animate,
.rectangle-group.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.unlock-top-universities {
  position: absolute;
  top: 437px;
  left: 58px;
  font-size: var(--font-size-5xl);
  line-height: 30.5px;
  font-weight: 600;
  display: inline-block;
  width: 632px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 360px;
  height: 224.1px;
}
.tailored-university-shortlisti-container {
  position: absolute;
  top: 6px;
  left: 55px;
  line-height: 44.5px;
  display: inline-block;
  width: 305px;
  height: 203px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-inner {
  position: absolute;
  top: 8.4px;
  left: 22px;
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 31.1px;
  height: 31.1px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  top: 41.8px;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  top: 75.9px;
}
.group-child3,
.group-child4,
.group-child5 {
  top: 111.6px;
}
.group-child4,
.group-child5 {
  top: 145.1px;
}
.group-child5 {
  top: 177px;
}
.rectangle-group {
  position: absolute;
  top: 489px;
  left: 58px;
  width: 360px;
  height: 224.1px;
  opacity: 0;
  font-size: var(--font-size-lg);
  color: var(--text-txt-primary);
}
.consult-our-study-visa-experts-wrapper1 {
  position: absolute;
  top: 734px;
  left: 51px;
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
}
.vector-parent {
  position: absolute;
  top: 40px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 852px;
  text-align: left;
  font-size: var(--text-1-regular-size);
}
.why-choose-us {
  position: absolute;
  top: 957px;
  left: 481px;
  line-height: 136%;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.why-choose-us.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.desktop-1,
.frame20 {
  background-color: var(--color-white);
  overflow: hidden;
}
.frame20 {
  position: absolute;
  top: 2081px;
  left: 792px;
  width: 100px;
  height: 100px;
}
.desktop-1 {
  position: relative;
  width: 100%;
  height: 12628px;
  text-align: center;
  font-size: var(--font-size-36xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
