@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.frame-child17 {
  position: relative;
  width: 277px;
  height: 284.3px;
  object-fit: cover;
}
.exclusive-scholarships2 {
  position: relative;
  font-size: var(--font-size-2xl);
  line-height: 30.5px;
  font-weight: 600;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.group-parent3,
.mrshamsher-singh-group {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.mrshamsher-singh-group {
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi);
}
.group-parent3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child18 {
  position: relative;
  width: 331px;
  height: 257px;
  object-fit: cover;
}
.group-parent4 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl);
}
.frame-child19 {
  position: relative;
  width: 307px;
  height: 277px;
  object-fit: cover;
}
.group-parent5 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-15xl);
}
.frame-child20 {
  position: relative;
  width: 383.5px;
  height: 293px;
  object-fit: cover;
}
.frame-parent19 {
  position: absolute;
  top: 6368px;
  left: 56px;
  width: 318px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 79px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--text-txt-primary);
}
.why-choose-us1 {
  position: absolute;
  top: 1007px;
  left: 79px;
  font-size: var(--font-size-5xl);
  line-height: 136%;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image-5-icon1 {
  position: absolute;
  top: 1066px;
  left: calc(50% - 150px);
  width: 300px;
  height: 244px;
  object-fit: cover;
  opacity: 0;
}
.image-5-icon1.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-right;
}
.mask-group-icon39 {
  position: absolute;
  margin: 0 !important;
  top: 13px;
  left: 13px;
  width: 49px;
  height: 49px;
  object-fit: cover;
  z-index: 0;
}
.mask-group-wrapper6 {
  border-radius: var(--br-4xs);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.navigate-with-seasoned1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20.5px;
  color: var(--text-txt-primary);
  display: inline-block;
  width: 220px;
}
.expert-guidance-group,
.frame-parent21 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-parent21 {
  flex-direction: row;
  gap: var(--gap-lgi);
  color: var(--color-gray-500);
}
.smooth-navigation-for1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20.5px;
  color: var(--text-txt-primary);
  display: inline-block;
  width: 201px;
}
.effortless-loans-group,
.frame-parent23 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent23 {
  flex-direction: row;
  gap: var(--gap-7xl);
  color: var(--color-gray-500);
}
.dedicated-assistance-for1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20.5px;
  color: var(--text-txt-primary);
  display: inline-block;
  width: 227px;
}
.frame-parent24,
.frame-parent25 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.frame-parent25 {
  gap: var(--gap-7xl);
}
.transparent-communication1 {
  position: relative;
  line-height: 30.5px;
  font-weight: 600;
  display: inline-block;
  width: 183px;
}
.frame-parent26,
.frame-parent27 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.frame-parent27 {
  align-items: flex-start;
  gap: var(--gap-lgi);
}
.trust-our-expertise1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20.5px;
  color: var(--text-txt-primary);
  display: inline-block;
  width: 228px;
}
.frame-parent20,
.frame-parent28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent28 {
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-7xl);
}
.frame-parent20 {
  position: absolute;
  top: 1346px;
  left: calc(50% - 164px);
  flex-direction: column;
  gap: 27px;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.frame-child21.animate,
.frame-parent20.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-left;
}
.team-core-immigration {
  margin: 0;
}
.fulfil-your-study-container {
  position: relative;
  line-height: 136%;
  font-weight: 500;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 331px;
}
.consult-our-study-visa-experts-wrapper2 {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.fulfil-your-study-abroad-dream-group {
  position: absolute;
  top: 2195px;
  left: calc(50% - 165px);
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.unlock-education-excellence-container1 {
  position: absolute;
  top: 2350px;
  left: calc(50% - 147px);
  font-size: var(--font-size-5xl);
  line-height: 119%;
  display: inline-block;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 304px;
}
.explore-the-enchanting1 {
  position: absolute;
  top: 2448px;
  left: calc(50% - 142px);
  line-height: 17.5px;
  color: var(--color-gray-100);
  display: inline-block;
  width: 285px;
}
.consult-our-study-visa-experts-wrapper3 {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-10xl);
  text-align: left;
  font-size: var(--font-size-2xs);
}
.get-admission-in-top-nz-univer-parent {
  position: absolute;
  top: 2726px;
  left: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}
.our-6-step-immigration-container1 {
  position: absolute;
  top: 3416px;
  left: calc(50% - 179px);
  font-size: var(--font-size-5xl);
  line-height: 119%;
  display: inline-block;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 358px;
}
.frame-child21 {
  position: relative;
  border-radius: var(--br-xl);
  width: 311px;
  height: 202px;
  object-fit: cover;
  opacity: 0;
}
.consultation1 {
  position: relative;
  line-height: 30.5px;
  font-weight: 600;
  display: inline-block;
  width: 334px;
}
.personalized-discussions-to1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 17.5px;
  color: var(--text-txt-primary);
  display: inline-block;
  width: 296px;
}
.book-a-free-consultation-now-frame {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 252px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.consultation-group,
.rectangle-container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.rectangle-container {
  gap: var(--gap-27xl);
}
.frame-child22 {
  position: relative;
  border-radius: var(--br-xl);
  width: 311px;
  height: 202px;
  object-fit: cover;
  opacity: 0;
}
.frame-child22.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-right;
}
.rectangle-parent1,
.rectangle-parent3 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.rectangle-parent3 {
  gap: var(--gap-2xl);
}
.rectangle-parent4 {
  flex-shrink: 0;
  gap: 25px;
}
.frame-parent29,
.rectangle-parent4,
.rectangle-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent5 {
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.frame-parent29 {
  position: absolute;
  top: 3524px;
  left: 40px;
  gap: 42px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.start-your-immigration1 {
  position: relative;
  line-height: 136%;
  font-weight: 500;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 232px;
}
.consult-our-study-visa-experts-wrapper4 {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 322px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.start-your-immigration-journey-group {
  position: absolute;
  top: 6090px;
  left: calc(50% - 161px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.meet-team-core1 {
  position: absolute;
  top: 6279px;
  left: calc(50% - 178px);
  font-size: var(--font-size-5xl);
  line-height: 119%;
  display: inline-block;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 356px;
}
.arrow-icon,
.frame-child27 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  width: 34px;
}
.arrow-icon {
  left: 0;
  height: 0;
  object-fit: contain;
  z-index: 0;
}
.frame-child27 {
  left: 49px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.vector-container,
.vector-group {
  position: absolute;
  top: 6785px;
  left: calc(50% - 41px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.vector-container {
  top: 7255px;
}
.book-a-free-consultation-now-wrapper2,
.consult-team-core1 {
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  width: 268px;
}
.consult-team-core1 {
  position: relative;
  line-height: 136%;
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.book-a-free-consultation-now-wrapper2 {
  border-radius: var(--br-58xl);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.consult-team-core-immigration-group {
  position: absolute;
  top: 6816px;
  left: calc(50% - 134px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lgi);
}
.client-testimonial1 {
  position: absolute;
  top: 6974px;
  left: calc(50% - 112px);
  font-size: var(--font-size-5xl);
  line-height: 119%;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lorem-ipsum-dolor27 {
  top: 48px;
  line-height: 20.5px;
  display: inline-block;
  width: 268px;
  height: 105px;
}
.jhon-dee7,
.lorem-ipsum-dolor27,
.review-icon7 {
  position: absolute;
  left: 42px;
}
.jhon-dee7 {
  top: 138.1px;
  font-size: var(--text-1-regular-size);
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.review-icon7 {
  top: 18px;
  width: 120px;
  height: 17px;
  object-fit: cover;
}
.lorem-ipsum-dolor-sit-amet-con-parent {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 341px;
  height: 189px;
  flex-shrink: 0;
}
.apply-now-with-us-container,
.frame-parent30 {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.frame-parent30 {
  position: absolute;
  top: 7029px;
  left: 26px;
  width: 341px;
  overflow-x: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  color: var(--text-txt-primary);
}
.apply-now-with-us-container {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 137px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
}
.be-the-part-of-our-success-gal-group {
  position: absolute;
  top: 7271px;
  left: calc(50% - 158px);
  height: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lgi);
}
.have-more-doubts {
  position: relative;
  line-height: 136%;
  font-weight: 500;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.consult-us-now {
  position: relative;
  line-height: 30.5px;
  font-weight: 600;
}
.consult-us-now-wrapper,
.have-more-doubts-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.consult-us-now-wrapper {
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 167px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-2xs);
}
.have-more-doubts-parent {
  position: absolute;
  top: 8187px;
  left: calc(50% - 83px);
  height: 109px;
  flex-direction: column;
  gap: var(--gap-mini);
}
.img-8561-1-icon2,
.vector-icon {
  position: absolute;
  object-fit: cover;
}
.vector-icon {
  top: 45px;
  left: 0;
  width: 403px;
  height: 936px;
}
.img-8561-1-icon2 {
  top: 0;
  left: calc(50% - 69.5px);
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  width: 144px;
  height: 54px;
}
.frame-child30 {
  position: absolute;
  top: 240px;
  left: calc(50% - 162.5px);
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 330px;
  height: 295px;
}
.tailored-university-shortlisti-container1 {
  position: absolute;
  top: 255px;
  left: 114px;
  line-height: 43.5px;
  color: var(--text-txt-primary);
  display: inline-block;
  width: 283px;
}
.mask-group-icon47 {
  position: relative;
  width: 19px;
  height: 19px;
  object-fit: cover;
}
.mask-group-parent19 {
  position: absolute;
  top: 269px;
  left: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.frame-child31 {
  position: absolute;
  top: 559px;
  left: calc(50% - 127.5px);
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  height: 37px;
  overflow: hidden;
}
.image-3-icon {
  position: absolute;
  margin: 0 !important;
  top: 577.3px;
  left: 9.5px;
  width: 388.4px;
  height: 347.5px;
  object-fit: contain;
  opacity: 0;
  z-index: 0;
}
.image-3-icon.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-left;
}
.mask-group {
  position: absolute;
  top: 45px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.embark-on-your-container {
  position: absolute;
  top: 95px;
  left: calc(50% - 177.5px);
  font-size: var(--font-size-5xl);
  line-height: 136%;
  text-align: center;
}
.unlock-top-universities1 {
  position: absolute;
  top: 193px;
  left: calc(50% - 155.5px);
  font-size: var(--font-size-base);
  line-height: 30.5px;
  display: inline-block;
  width: 316px;
}
.consult-our-study8 {
  position: absolute;
  top: 562px;
  left: 106px;
  font-size: var(--font-size-2xs);
  line-height: 30.5px;
  font-weight: 600;
}
.frame21 {
  position: absolute;
  top: 0;
  left: -9px;
  width: 403px;
  height: 981px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
}
.frame-child32,
.frame-child33 {
  position: absolute;
  object-fit: cover;
}
.frame-child32 {
  top: 0;
  left: calc(50% - 171.5px);
  border-radius: var(--br-3xs);
  width: 343px;
  height: 164px;
}
.frame-child33 {
  top: 56px;
  left: 156px;
  width: 30px;
  height: 30px;
}
.core-immigration-glide-with-p-wrapper {
  position: absolute;
  top: 142px;
  left: calc(50% - 161.5px);
  border-radius: var(--br-58xl);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-10xl);
}
.frame22 {
  position: absolute;
  top: 2519px;
  left: 24px;
  width: 343px;
  height: 183px;
  overflow: hidden;
  font-size: var(--font-size-2xs);
}
.licensed-authorized1 {
  position: absolute;
  top: 171px;
  left: calc(50% - 132px);
  line-height: 30.5px;
  font-weight: 500;
}
.team-core-vs1 {
  position: absolute;
  top: 31px;
  left: calc(50% - 125px);
  font-size: var(--font-size-5xl);
  line-height: 119%;
  display: inline-block;
  text-align: center;
  width: 250px;
}
.line-div {
  position: absolute;
  top: 172.5px;
  left: 33.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 248px;
  height: 1px;
  opacity: 0.59;
}
.licensed-authorized2 {
  position: absolute;
  top: 198px;
  left: calc(50% - 132px);
  line-height: 30.5px;
  font-weight: 500;
}
.frame-child34 {
  position: absolute;
  top: 199.5px;
  left: 33.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 248px;
  height: 1px;
  opacity: 0.59;
}
.licensed-authorized3 {
  position: absolute;
  top: 228px;
  left: calc(50% - 132px);
  line-height: 30.5px;
  font-weight: 500;
}
.frame-child35 {
  position: absolute;
  top: 229.5px;
  left: 33.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 248px;
  height: 1px;
  opacity: 0.59;
}
.licensed-authorized4 {
  position: absolute;
  top: 258px;
  left: calc(50% - 132px);
  line-height: 30.5px;
  font-weight: 500;
}
.frame-child36 {
  position: absolute;
  top: 259.5px;
  left: 33.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 248px;
  height: 1px;
  opacity: 0.59;
}
.licensed-authorized5 {
  position: absolute;
  top: 288px;
  left: calc(50% - 132px);
  line-height: 30.5px;
  font-weight: 500;
}
.frame-child37 {
  position: absolute;
  top: 289.5px;
  left: 33.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 248px;
  height: 1px;
  opacity: 0.59;
}
.licensed-authorized6 {
  position: absolute;
  top: 318px;
  left: calc(50% - 132px);
  line-height: 30.5px;
  font-weight: 500;
}
.frame-child38,
.frame-child39 {
  position: absolute;
  box-sizing: border-box;
  opacity: 0.59;
}
.frame-child38 {
  top: 319.5px;
  left: 33.5px;
  border-top: 1px solid var(--color-white);
  width: 248px;
  height: 1px;
}
.frame-child39 {
  top: 117px;
  left: 227px;
  border-radius: var(--br-sm);
  border: 1px solid var(--color-white);
  width: 54px;
  height: 255px;
}
.frame-child40,
.img-8561-2-icon {
  position: absolute;
  left: 162px;
  width: 54px;
}
.frame-child40 {
  top: 118px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  height: 255px;
}
.img-8561-2-icon {
  top: 138px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  height: 21px;
  object-fit: cover;
}
.other-agents1 {
  position: absolute;
  top: 135px;
  left: calc(50% + 68px);
  font-size: var(--font-size-2xs);
  line-height: 10.5px;
  font-weight: 500;
  text-align: right;
}
.mask-group-icon53,
.mask-group-icon54,
.mask-group-icon55,
.mask-group-icon56 {
  position: absolute;
  top: 178px;
  left: 181px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.mask-group-icon54,
.mask-group-icon55,
.mask-group-icon56 {
  top: 205px;
}
.mask-group-icon55,
.mask-group-icon56 {
  top: 235px;
}
.mask-group-icon56 {
  top: 265px;
}
.mask-group-icon57,
.mask-group-icon58,
.mask-group-icon59,
.mask-group-icon60 {
  position: absolute;
  top: 295px;
  left: 181px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.mask-group-icon58,
.mask-group-icon59,
.mask-group-icon60 {
  top: 325px;
}
.mask-group-icon59,
.mask-group-icon60 {
  top: 179px;
  left: 244px;
}
.mask-group-icon60 {
  top: 205px;
}
.mask-group-icon61,
.mask-group-icon62,
.mask-group-icon63,
.mask-group-icon64 {
  position: absolute;
  top: 235px;
  left: 244px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.mask-group-icon62,
.mask-group-icon63,
.mask-group-icon64 {
  top: 265px;
}
.mask-group-icon63,
.mask-group-icon64 {
  top: 295px;
}
.mask-group-icon64 {
  top: 325px;
}
.experience-the-team1 {
  position: relative;
  line-height: 136%;
  font-weight: 500;
  display: inline-block;
  width: 286px;
}
.consult-our-study-visa-experts-wrapper5 {
  border-radius: var(--br-58xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 206px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--text-txt-primary);
}
.experience-the-team-core-exper-parent {
  position: absolute;
  top: 383px;
  left: 23px;
  width: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  text-align: center;
  font-size: var(--font-size-sm);
}
.b,
.frame23 {
  position: absolute;
}
.frame23 {
  top: 2860px;
  left: calc(50% - 166px);
  border-radius: var(--br-sm);
  background: linear-gradient(89.65deg, #00af08, #a2db00);
  width: 332px;
  height: 495px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.frame23.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-right;
}
.b {
  top: 70px;
  left: calc(50% - 140px);
  line-height: 119%;
}
.union-icon {
  position: relative;
  width: 19.8px;
  height: 19.8px;
  object-fit: contain;
}
.xmark {
  position: absolute;
  height: 3.95%;
  width: 9.38%;
  top: 9.22%;
  right: 5.94%;
  bottom: 86.82%;
  left: 84.69%;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.faqs,
.frame-child41 {
  position: absolute;
  background: linear-gradient(89.65deg, #00af08, #a2db00);
}
.faqs {
  top: 0;
  left: calc(50% - 32px);
  font-size: var(--font-size-5xl);
  line-height: 119%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.frame-child41 {
  top: 45px;
  left: calc(50% - 160px);
  border-radius: var(--br-3xs);
  box-shadow: 0 10px 20px rgba(255, 103, 83, 0.3);
  width: 320px;
  height: 130px;
}
.nz-offers-world-class,
.what-makes-new {
  position: absolute;
  top: 70px;
  left: calc(50% - 93px);
  line-height: 119%;
  display: inline-block;
  width: 240px;
}
.nz-offers-world-class {
  top: 110px;
  width: 209px;
}
.b1 {
  position: relative;
  line-height: 119%;
}
.parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.union-icon1 {
  position: relative;
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.frame-parent32,
.plus {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.plus {
  border-radius: var(--br-5xl);
  background-color: var(--color-limegreen);
  width: 30px;
  height: 30px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.frame-parent32 {
  margin: 0 !important;
  position: absolute;
  top: 15px;
  left: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  z-index: 0;
}
.frame-wrapper1,
.what-is-the {
  position: relative;
  flex-shrink: 0;
}
.frame-wrapper1 {
  background-color: var(--color-ghostwhite-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.what-is-the {
  font-size: var(--font-size-xs);
  line-height: 119%;
  font-weight: 600;
  color: var(--text-txt-primary);
  display: inline-block;
  width: 191px;
}
.frame-parent31 {
  position: absolute;
  top: 196px;
  left: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  font-size: var(--font-size-4xl);
  color: var(--color-lightslategray);
}
.faqs-parent,
.frame24 {
  position: absolute;
  width: 320px;
  height: 759px;
}
.faqs-parent {
  top: 0;
  left: calc(50% - 160px);
  font-size: var(--font-size-xs);
}
.frame24 {
  top: 7404px;
  left: 35px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.img-8561-3-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 77.5px);
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  width: 144px;
  height: 54px;
  object-fit: cover;
}
.vector-icon1 {
  position: relative;
  width: 29px;
  height: 29px;
  object-fit: cover;
}
.div {
  position: relative;
  line-height: 26.5px;
}
.vector-parent1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.frame-child42,
.vector-icon2 {
  position: relative;
  width: 36.1px;
  height: 29.5px;
  object-fit: cover;
}
.vector-icon2 {
  width: 30.9px;
  height: 34px;
}
.frame-parent41 {
  position: absolute;
  top: 98px;
  left: calc(50% - 128.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.social-icons {
  position: relative;
  width: 26px;
  height: 26px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.social-icons-parent {
  position: absolute;
  top: 362px;
  left: calc(50% - 55.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frame25 {
  position: absolute;
  bottom: 0;
  left: -1px;
  background-color: var(--gray-1);
  width: 401px;
  height: 430px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
}
.phone-landing-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 8750px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 420px) {
  .frame-child21,
  .frame-child22,
  .frame-parent20,
  .image-3-icon,
  .image-5-icon1 {
    opacity: 0;
  }
  .image-5-icon1.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-right;
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .frame-child21.animate,
  .frame-parent20.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-left;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .frame-child22.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-right;
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .image-3-icon.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-left;
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
